.box {
  background-color: black;
  opacity: 100%;
  background-image: url('../../../assets/home/featured.jpg');
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
